:root {
  --primary-blue: hsl(216, 84%, 47%);
  --neutral-light: hsl(25, 50%, 95%);
  --neutral-dark: hsl(45, 8%, 10%);
	--neutral-dark-secondary: hsla(45, 8%, 10%, .85);
  --dark--primary-shadow: hsla(45, 8%, 10%, .50);
  --dark--primary-layer: hsla(45, 8%, 10%, .70);
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Forum';
  box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: var(--neutral-light);
}
main {
	display: flex;
	flex-flow: column;
	gap: 10rem;
	width: 100%;
	height: max-content;
}
button {
	background: none;
  border: none;
}
li {
	list-style: none;
}
a {
	color: inherit;
  text-decoration: none;
}
