.icons {
	width: 32px;
	height: 32px;
}
.gesprender-icon {
	width: 24px;
	height: 24px;
	background: url("./assets/gesprender.png") no-repeat;
	background-size: 100% 100%;
}
.freelance-icon {
	width: 24px;
	height: 24px;
	background: url("./assets/icons/freelance.svg") no-repeat;
	background-size: 100% 100%;
}
.css-icon {
	background: url('./assets/icons/css.svg') no-repeat;
	background-size: 100% 100%;
}
.tailwind-icon {
	background: url('./assets/icons/tailwindcss.svg') no-repeat;
	background-size: 100% 100%;
}
.react-icon {
	background: url('./assets/icons/react.svg') no-repeat;
	background-size: 100% 100%;
}
.redux-icon {
	background: url('./assets/icons/redux.svg') no-repeat;
	background-size: 100% 100%;
}
.next-icon {
	background: url('./assets/icons/nextjs.svg') no-repeat;
	background-size: 100% 100%;
}
.git-icon {
	background: url('./assets/icons/git.svg') no-repeat;
	background-size: 100% 100%;
}
.web-icon-light {
	width: 24px;
	height: 24px;
	background: url('./assets/icons/web-light.svg') no-repeat;
	background-size: 100% 100%;
}
.technology {
	width: 40px;
	height: 40px;
}
.html {
	background: url('./assets/icons/html.svg') no-repeat;
	background-size: 100% 100%;
}
.css {
	background: url('./assets/icons/css.svg') no-repeat;
	background-size: 100% 100%;
}
.tailwindcss {
	background: url('./assets/icons/tailwindcss.svg') no-repeat;
	background-size: 100% 100%;
}
.js {
	background: url('./assets/icons/js.svg') no-repeat;
	background-size: 100% 100%;
}
.react {
	background: url('./assets/icons/react.svg') no-repeat;
	background-size: 100% 100%;
}
.redux {
	background: url('./assets/icons/redux.svg') no-repeat;
	background-size: 100% 100%;
}
.nextjs {
	background: url('./assets/icons/nextjs.svg') no-repeat;
	background-size: 100% 100%;
}
.git {
	background: url('./assets/icons/git.svg') no-repeat;
	background-size: 100% 100%;
}
.contact-icons {
	width: 25px;
	height: 25px;
	transition: all .3s;
}
.linkedin--icon {
	background: url('./assets/icons/linkedin.svg') no-repeat;
	background-size: 100% 100%;
}
.github--icon {
	background: url('./assets/icons/github.svg') no-repeat;
	background-size: 100% 100%;
}
.whatsapp--icon {
	background: url('./assets/icons/whatsapp.svg') no-repeat;
	background-size: 100% 100%;
}
