:root {
  --primary-blue: hsl(216, 84%, 47%);
  --neutral-light: hsl(25, 50%, 95%);
  --neutral-dark: hsl(45, 8%, 10%);
	--neutral-dark-secondary: hsla(45, 8%, 10%, .85);
  --dark--primary-shadow: hsla(45, 8%, 10%, .50);
  --dark--primary-layer: hsla(45, 8%, 10%, .70);
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Forum';
  box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: var(--neutral-light);
}
main {
	display: flex;
	flex-flow: column;
	gap: 10rem;
	width: 100%;
	height: max-content;
}
button {
	background: none;
  border: none;
}
li {
	list-style: none;
}
a {
	color: inherit;
  text-decoration: none;
}
.section-title-wrapper {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	width: 100%;
	height: 100%;
}
.section-title {
	position: relative;
	display: grid;
	justify-content: center;
	color: var(--neutral-dark);
	font-size: 1.8rem;
	letter-spacing: 1.5px;
}
.section-content {
	width: 100%;
	max-width: 600px;
	padding-top: .5rem;
	color: var(--neutral-dark);
	color: var(--neutral-dark-secondary);
	font-weight: bold;
	font-size: 1.2rem;
	font-size: clamp(15px, 3vw, 1.2rem);
	line-height: 1.3;
	filter: opacity(95%);
}
.highlight-content {
	display: inline;
	color: var(--primary-blue);
	font-weight: bold;
}
.max-w {
  max-width: 1260px;
}
.section-container {
	display: flex;
	flex-flow: column;
	align-items: center;
	gap: 2rem;
	width: 100%;
	min-height: 100vh;
	padding-inline: 1rem;
	scroll-margin-top: 80px;
}
.nav-item {
	height: 20px;
	font-weight: bold;
	font-size: 15px;
	font-size: clamp(14px, 3vw, 18px);
	cursor: pointer;
	overflow: hidden;
}
.nav-item-link {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.button {
	width: 100%;
  max-width: 200px;
  height: 50px;
  font-size: 1.5rem;
  font-weight: 550;
  letter-spacing: 1.5px;
}
.header-container {
  position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	padding: 0 5px;
	background: hsla(25, 50%, 95%, .10);
	backdrop-filter: blur(5px);
	z-index: 10;
}
.nav-header-container {
	display: grid;
	width: 100%;
	height: 100%;
}
.nav-header-items-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 5px;
	column-gap: .5rem;
}
.profile-card {
	display: grid;
	justify-items: center;
	width: 100%;
	height: max-content;
}
.profile-img {
	width: 200px;
	height: 200px;
	background: url('./assets/profile-img.jpg') no-repeat;
	background-size: cover;
	background-position: top left;
	border: 4px solid var(--neutral-dark);
	border-radius: 50%;
	opacity: 1;
}
.profile-info {
	align-self: start;
	display: flex;
	flex-flow: column wrap;
	row-gap: 30px;
	margin-inline: auto;
	font-weight: bold;
	text-align: center;
}
.profile-name {
	font-size: 2.5rem;
}
.profile-role {
	font-size: 1.1rem;
	letter-spacing: 1.5px;
}
.contact-container {
	display: flex;
	flex-flow: column;
	row-gap: 30px;
	align-items: center;
}
.contact-icons-container {
	display: flex;
	column-gap: 20px;
}
.icon-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	background: hsl(0, 0%, 99%);
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 1px 5px var(--neutral-dark);
}
.technologies-icons-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(35px, 70px));
	justify-content: space-around;
	gap: 5rem;
	width: 100%;
	max-width: 500px;
}
.technology-icon-wrapper {
	position: relative;
	display: grid;
	justify-content: center;
	align-items: center;
	height: 70px;
	background: white;
	border-radius: 50%;
	box-shadow: 1px 1px 5px black;
}
.technology {
	width: 40px;
	height: 40px;
}
.html {
	background: url('./assets/icons/html.svg') no-repeat;
	background-size: 100% 100%;
}
.css {
	background: url('./assets/icons/css.svg') no-repeat;
	background-size: 100% 100%;
}
.tailwindcss {
	background: url('./assets/icons/tailwindcss.svg') no-repeat;
	background-size: 100% 100%;
}
.js {
	background: url('./assets/icons/js.svg') no-repeat;
	background-size: 100% 100%;
}
.react {
	background: url('./assets/icons/react.svg') no-repeat;
	background-size: 100% 100%;
}
.redux {
	background: url('./assets/icons/redux.svg') no-repeat;
	background-size: 100% 100%;
}
.nextjs {
	background: url('./assets/icons/nextjs.svg') no-repeat;
	background-size: 100% 100%;
}
.git {
	background: url('./assets/icons/git.svg') no-repeat;
	background-size: 100% 100%;
}
.contact-icons {
	width: 25px;
	height: 25px;
	transition: all .3s;
}
.linkedin--icon {
	background: url('./assets/icons/linkedin.svg') no-repeat;
	background-size: 100% 100%;
}
.github--icon {
	background: url('./assets/icons/github.svg') no-repeat;
	background-size: 100% 100%;
}
.whatsapp--icon {
	background: url('./assets/icons/whatsapp.svg') no-repeat;
	background-size: 100% 100%;
}
.about-me-content {
	text-align: justify;
}
.profile-section-container {
	height: 590px;
}
.technologies-section-container {
	gap: 4rem;
}
.projects-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	justify-items: center;
	gap: 2.5rem;
	width: 100%;
	height: max-content;
	padding-bottom: 2rem;
}
.technology-name {
	justify-self: center;
	position: absolute;
	top: -25px;
	width: max-content;
	height: max-content;
	color: var(--neutral-dark);
	font-weight: bold;
}
.project {
	display: grid;
	grid-template-rows: max-content 1fr;
	row-gap: 15px;
	max-width: 250px;
	width: 100%;
	max-width: 250px;
	min-height: 385px;
	height: 100%;
	max-height: 385px;
	background: var(--neutral-dark);
	border-radius: 8px;
	box-shadow: 0px 1px 3px black;
	transition: all .3s ease;
}
.project-top {
	display: flex;
	justify-content: center;
	width: 100%;
	min-height: 170px;
	height: 100%;
	max-height: 170px;
}
.project-img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
.disa-img {
	background: url("./assets/projects/disa-dental.png") no-repeat;
	background-size: 100% 100%;
}
.fundation-gabriel-img {
	background: url("./assets/projects/gabriel-carron.png") no-repeat;
	background-size: 100% 100%;
}
.project-title {
	color: var(--neutral-light);
	font-size: 1.3rem;
	font-weight: bold;
	letter-spacing: 2px;
}
.project-bottom {
	padding: .8rem;
}
.project-type-wrapper {
	display: flex;
	align-items: center;
	column-gap: 5px;
}
.project-type-title {
	color: var(--neutral-light);
	letter-spacing: 1.5px;
}
.project-type-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}
.project-type-description {
	font-size: 17px;
	color: var(--primary-blue);
	filter: opacity(80%);
}
.project-techs-used-container {
	display: flex;
	column-gap: 5px;
	width: 100%;
	height: max-content;
	padding: .5rem 0;
}
.project-links-container {
	display: flex;
	flex-flow: column;
	row-gap: 10px;
	height: max-content;
}
.project-link {
	display: flex;
	align-items: center;
	column-gap: 10px;
	width: max-content;
	height: max-content;
	color: var(--neutral-light);
	letter-spacing: 1.5px;
}
.line {
	width: 100%;
	margin: 15px 0;
	background: var(--neutral-dark);
	filter: opacity(10%)
}
.gabriel-carron-title {
	font-size: 1rem;
}
.section-title::before {
	justify-self: center;
	content: '';
	position: absolute;
	bottom: 0;
	width: 70%;
	height: 1px;
	background: var(--primary-blue);
}
.nav-item-focus::before {
	animation: nav_item_focus .3s ease forwards;
}
.nav-item-focus::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: -200px;
	width: 100%;
	height: 1px;
	background: var(--primary-blue);
	transition: .2s ease all;
}
@media (min-width: 1024px) {
	.profile-info {
		align-self: center;
	}
	.profile-name {
		font-size: 3rem;
	}
	.profile-role {
		font-size: 1.3rem;
	}
}
@media (min-width: 850px) {
	.nav-header-items-wrapper {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 0 1rem;
		column-gap: 10px;
	}
	.nav-header-container {
		grid-template-columns: 95% 1fr;
	}
	.technologies-icons-wrapper {
		column-gap: 50px;
	}
	.technology-icon {
		width: 48px;
		height: 48px;
	}
}
@keyframes nav_item_focus {
	from {opacity: 0; left: -200px;}
	to {opacity: 1; left: 0;}
}


.icons {
	width: 32px;
	height: 32px;
}
.gesprender-icon {
	width: 24px;
	height: 24px;
	background: url("./assets/gesprender.png") no-repeat;
	background-size: 100% 100%;
}
.freelance-icon {
	width: 24px;
	height: 24px;
	background: url("./assets/icons/freelance.svg") no-repeat;
	background-size: 100% 100%;
}
.css-icon {
	background: url('./assets/icons/css.svg') no-repeat;
	background-size: 100% 100%;
}
.tailwind-icon {
	background: url('./assets/icons/tailwindcss.svg') no-repeat;
	background-size: 100% 100%;
}
.react-icon {
	background: url('./assets/icons/react.svg') no-repeat;
	background-size: 100% 100%;
}
.redux-icon {
	background: url('./assets/icons/redux.svg') no-repeat;
	background-size: 100% 100%;
}
.next-icon {
	background: url('./assets/icons/nextjs.svg') no-repeat;
	background-size: 100% 100%;
}
.git-icon {
	background: url('./assets/icons/git.svg') no-repeat;
	background-size: 100% 100%;
}
.web-icon-light {
	width: 24px;
	height: 24px;
	background: url('./assets/icons/web-light.svg') no-repeat;
	background-size: 100% 100%;
}
.github-icon-light {
	width: 24px;
	height: 24px;
	background: url('./assets/icons/github-light.svg') no-repeat;
	background-size: 100% 100%;
}
.arrow-icon-light {
	width: 24px;
	height: 24px;
	background: url('./assets/icons/arrow-light.svg') no-repeat;
	background-size: 100% 100%;
	transform: rotate(90deg);
}
